# ==============================
# Build output
# ==============================
target/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS / IDE files
# ==============================
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/
*.swp

# ==============================
# Git files
# ==============================
.git
.gitignore

# ==============================
# Environment files
# ==============================
.env
